.box {
  z-index: 0;
  border-radius: "10px";
  border: 4px solid transparent;
}
.box:hover {
  border-radius: 10px;
  border: 4px solid #0000;
  background: linear-gradient(#09203f 0%, rgba(60, 105, 134, 1) 100%)
      padding-box,
    linear-gradient(var(--angle), #a166ab, #5073b8, #1098ad, #07b39b, #6fba82)
      border-box;

  animation: 0.5s rotate linear infinite;
}
.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.2em;
  margin-right: -0.2em;
  border-radius: 10px;
  border: 4px solid #0000;
  background: linear-gradient(#09203f 0%, rgba(60, 105, 134, 1) 100%)
      padding-box,
    linear-gradient(var(--angle), #da2d0f, #ec403a, #f0a1a1, #ff0000) border-box;

  animation: 0.5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.none {
  height: "160px";
  width: "115px";
  background-color: "#131219";
  border-radius: "10px";
  border: 4px solid transparent;
}
