.atkInputNum {
  position: absolute;
  top: 130px;
  right: 65px;
  z-index: 100;
  width: 40px;
  font-size: 20px;
  background-color: rgb(99, 99, 238);
  color: white;
  font-family: "Noto Serif JP", serif;
  text-align: center;
}

.defInputNum {
  position: absolute;
  top: 130px;
  right: 0px;
  z-index: 100;
  width: 40px;
  font-size: 20px;
  background-color: red;
  color: white;
  font-family: "Noto Serif JP", serif;
  text-align: center;
}
