/* default styles */
.LeaderContainerHome {
  height: 100vh;
  width: 50vw;
  left: 10%;
}
.LeaderImageHome {
  width: 50vw;
}
.cardHover {
  width: 410px;
  height: 600px;
}
/* medium - tablet styles */
@media screen and (max-width: 1600px) {
  .cardHover {
    width: 246px;
    height: 360px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .LeaderImageHome {
    animation: slidein infinite 1.5s ease-in-out alternate;
  }
}

/* animations */
@keyframes slidein {
  from {
    margin-top: 5vh;
  }

  to {
    margin-top: 10vh;
  }
}
