/* default styles */
.LeaderImageActive {
  min-width: 350px;
  width: 50%;
  position: absolute;
  z-index: 1;
}
.LeaderImageInactive {
  min-width: 350px;
  margin-top: 5vh;
  width: 50%;
  position: absolute;
  z-index: 1;
  filter: brightness(30%);
}
.LeaderContainer {
  bottom: 30%;
  right: 20%;
  position: relative;
}

@media screen and (min-width: 1000px) {
  .LeaderImageActive {
    min-width: 300px;
    width: 50%;
    position: absolute;
    z-index: 1;
  }
  .LeaderImageInactive {
    min-width: 300px;
    margin-top: 5vh;
    width: 50%;
    position: absolute;
    z-index: 1;
    filter: brightness(30%);
  }
}

@media screen and (min-width: 2000px) {
  .LeaderImageActive {
    min-width: 350px;
    width: 50%;
    position: absolute;
    z-index: 1;
  }
  .LeaderImageInactive {
    min-width: 350px;
    margin-top: 5vh;
    width: 50%;
    position: absolute;
    z-index: 1;
    filter: brightness(30%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .LeaderImageActive {
    animation: slidein infinite 1.5s linear alternate;
  }
}

/* animations */
@keyframes slidein {
  from {
    margin-top: 10vh;
  }

  to {
    margin-top: 15vh;
  }
}
