/* default styles */
.LeaderImage {
  width: 500px;
  pointer-events: none;
  user-select: none;
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: relative; */
}
.LeaderContainer {
  pointer-events: none;
  user-select: none;
  top: 20%;
  position: absolute;
  /* top: 41%;
  left: 40%; */
  /* position: absolute; */
  /* background-color: transparent; */
  /* top: 30vh; */
  /* display: block; */
  /* position: absolute; */
  /* width: 100vw; */
  /* height: 50%; */
  /* left: 30%; */
  /* background-color: pink; */
}

/* medium - tablet styles */
@media screen and (max-width: 1000px) {
  .LeaderImage {
    /* width: 500px;
    position: relative; */
    /* top: 30vh; */
    /* background-color: green; */
  }
}

/* small - mobile styles */
@media screen and (max-width: 600px) {
  .LeaderImage {
    /* width: 500px;
    position: relative; */
    /* top: 40vh; */
    /* background-color: red; */
  }
}

/* extra small styles */
@media screen and (max-width: 400px) {
  .LeaderImage {
    /* width: 500px;
    position: relative; */
    /* top: 40vh; */
    /* background-color: cyan; */
  }
}

@media (prefers-reduced-motion: no-preference) {
  .LeaderImage {
    animation: slidein infinite 1.5s linear alternate;
  }
}

/* animations */
@keyframes slidein {
  from {
    margin-top: 10vh;
  }

  to {
    margin-top: 15vh;
  }
}
