/* default styles */
.LeaderImage {
  min-width: 350px;
  width: 50%;
  position: absolute;
  /* pointer-events: none;
  user-select: none; */
}
.LeaderContainer {
  bottom: 60%;
  right: 20%;
  position: relative;
}
@media (prefers-reduced-motion: no-preference) {
  .LeaderImage {
    animation: slidein infinite 1.5s linear alternate;
  }
}

/* animations */
@keyframes slidein {
  from {
    margin-top: 10vh;
  }

  to {
    margin-top: 15vh;
  }
}
