.PlayPointsContainer {
  /* background-color: orange; */
  color: white;
  width: 25%;
  /* height: 90%;
  max-height: 700px; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-family: "Marshland_Beauty";
  -webkit-text-stroke-color: black;
  /* position: fixed; */
  top: 10%;
}

/* medium - tablet styles */
@media screen and (max-width: 1000px) {
}

/* small - mobile styles */
@media screen and (max-width: 600px) {
}

/* extra small styles */
@media screen and (max-width: 400px) {
}
.inc {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 60px;
  top: 0;
}

.dec {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  width: 60px;
  bottom: 0;
}
.CircleContainer {
  background-color: rgba(0, 0, 0, 0.6);
  outline: 7px ridge rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  height: 70%;
  max-width: 120px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.IncDecContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.points {
  font-size: 30px;
  height: 80px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.pointsContainer {
  background-color: rgba(0, 0, 0, 0.8);
  outline: 7px ridge rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  /* position: fixed; */
  bottom: 20%;
  left: 30%;
  height: "200px";
  width: "200px";
  display: flex;
  justify-content: center;
  align-items: center;
}

.upArrow {
  background-color: rgba(0, 0, 0, 0.8);
  outline: 7px ridge rgba(0, 0, 0, 0.6);
  height: "200px";
  width: "200px";
}

.downArrow {
  background-color: rgba(0, 0, 0, 0.8);
  outline: 7px ridge rgba(0, 0, 0, 0.6);
  height: "200px";
  width: "200px";
}

.upArrowContainer {
  /* position: absolute; */
  /* bottom: 110%; */
}

.downArrowContainer {
  /* position: absolute; */
  /* top: 110%; */
}

.circles {
  height: 100%;
  position: relative;
  top: 5%;
  user-select: none;
}

.circle {
  background-color: green;
  outline: 5px ridge rgba(0, 0, 0, 0.9);
  border-radius: 2rem;
  display: flex;
  margin-top: 30%;
  width: 45px;
  height: 45px;
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleFaded {
  background-color: rgb(0, 255, 0, 0.1);
  outline: 5px ridge rgba(0, 0, 0, 0.9);
  border-radius: 2rem;
  display: flex;
  margin-top: 30%;
  width: 45px;
  height: 45px;
  font-size: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextTurnContainer {
  /* position: fixed; */
  /* bottom: 2%; */
  /* left: 30%; */
  user-select: none;
  background-color: green;
  outline: 5px ridge rgba(0, 0, 0, 0.9);
  border-radius: 2rem;
  width: 45px;
  height: 45px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  cursor: pointer;
}
.buttonText {
  font-size: "50px";
  color: white;
  width: 100%;
}
